*.s#1
*.s#2
*.s#3
*.s#4
*.s#5
*.s#6
*.s#7
*.s#8
*.s#9
*.b#1
*.b#2
*.b#3
*.b#4
*.b#5
*.b#6
*.b#7
*.b#8
*.b#9
*.b##
hardware/xmas_v2/eagleup/eagleUp_xmas_v2_board_bottom.png
hardware/xmas_v2/eagleup/xmas_v2.eup
hardware/xmas_v2/eagleup/xmas_v2.log
hardware/xmas_v2/eagleup/eagleUp_xmas_v2_board_top.png